.footer{
  background-color: #2C2B2B;
  background-size: cover;
  height: 220px;
  text-align: center;
}

.fab{
  font-size: 30px;
  padding: 0 7px 5px;
  color: #1BDD87;
  margin-top: 60px;
}

.footer p{
  color: #B2B3B3;
}
